/*
Global recomendado
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
:root {
    --verde: #064428;
    --blanco: #ECEDE7;
    --negro: #000;
    --test1: #00039e;
    --test2: #e2c418;
    --test3: #a80000;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@font-face {
    font-family: Klein;
    src: url(../src/font/Klein-Bold.ttf);
}
@font-face {
    font-family: TTChocolates;
    src: url(../src/font/TT\ Chocolates\ Trial\ ExtraLight.otf);
}
.bg-verde{
    background-color: var(--verde);
    color: var(--blanco);
}
.bg-blanco{
    background-color: var(--blanco);
    color: var(--negro);
}
.titulo-fgsm{
    
    margin: 5rem auto auto;
}
.titulos{
    margin-top: 40px;
    z-index: 500;
    align-items: center;
    font-family: Klein;
    font-size: 30px;
}
/*
Cara
*/
.cara{ 
    width: 299px;
    height: 346px; 
}

.img-perfil{
    height: 195px;
    width: 195px;
    border-radius: 50%;
}
.nombre{
    width: 299px;
    height: 79px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Klein;
    font-size: 20px;
    border-bottom: var(--blanco) 1px solid;
}
.puesto{
    margin-top: 16px;
    width: 299px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: TTChocolates;
    font-size: 18px;
    letter-spacing: 1px;
}
/*
Cara
*/
.descripcion{
    width: 321px;
    height: 346px; 
    line-height: 19px;
}
.img-fgsm{
    width: 258px;
    height: 70px; 
    margin-bottom: 12px;

}
.perfil-pro{
    width: 318px;
    height: 165px; 
    text-align: justify;
    font-size: 16px;
    font-family: TTChocolates;
}
.descripcion_boton{
    
    margin-top: 0px;
    width: 318px;
    height: 75px;  
    background-color: #00039e00;
    display: inline-flex;
    justify-content: space-between;
}
.boton-cuadrado{
    width: 75px;
    height: 75px;
    background-color: var(--blanco);
}
.boton-icono{
    width: 38px;
    height: 38px;
}
.boton-icono-int{
    width: 35px;
    height: 35px;
    background-color: var(--negro);
    border-radius: 12%;
}
.internet-icono{
    color: var(--blanco);
    width: 26px;
    height: 26px;

}
.pie-frangersal{
    margin-bottom: 1px;
}
.seccion-f{
    font-family: 'Roboto Mono', monospace;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px; /* ajusta el valor según prefieras */


}
.parallax {
    /* The image used */
    background-image: url("./../src/img/lap20.png");

  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.cards-box{
    /*
    background-color: #a8000044;
*/
height: 550px;
width: 80vw;
display: flex;
flex-direction: row;
overflow: auto;

    
justify-content: center;
align-items: center;



  }
.card-proyect{
    font-size: 0.5rem;
    color: var(--blanco);
    background-color: #064428c2;
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    border-radius: 3rem;
    margin: 0rem 1rem 3rem;
    height: 40rem;
    width: 28rem;

    display: flex;
    flex-wrap: wrap;
}
.name-proyect{ 
    width: 100%;
    padding: 2rem 1rem 1rem;
    font-size: 2rem;
    font-family: Klein;
}
.link-proyect{
    background-color: var(--blanco-);
    border-radius: 3rem;
    height: 3rem;
    width: 80%;
    margin: auto auto 2.5rem auto;
    font-size: 2rem;
    
}
.logo-proyect{  
     
    width: 90%;
    height: auto !important;
    margin: 0.1rem !important;
}


  
  .tecs-box{ 
    /*
    background-color: #a8000044; 
    */ 
    height: 550px;
    width: 85vw;
    display: flex !important;
    flex-direction: row; 

  
    justify-content: center;
    align-items: center;

    overflow: auto;



}

.carousel-control-prev-icon {
    height: 65px!important;
    background-image: url(../src/icons/fontawesome-free-6.4.0-web/svgs/solid/chevron-left.svg)!important;
}
.carousel-control-next-icon{
    height: 65px!important;
    background-image: url(../src/icons/fontawesome-free-6.4.0-web/svgs/solid/chevron-right.svg)!important;
}
.card-tecs{
    font-size: 0.5rem;
    background-color: var(--negro);
    color: var(--blanco); 
    margin: .5rem;
    width: 251px;
    height: 380px;
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}
.card_boton{
    
    margin-top: 0px;
    width: 237px;
    height: 80px;  
    background-color: var(--negro);
    display: inline-flex;
    justify-content: space-around;
}

.logo-tec{  
    height: 10rem; 
    margin: 1rem;
}
.logo-php{
    width: 10rem; 
    margin: 3rem auto 3rem;

}
.name-tec{
    width: 100%; 
    font-family: Klein;
}
