/*
Global recomendado
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 13px;
}
:root {
    --verde: #064428;
    --blanco: #ECEDE7;
    --negro: #000;
    --test1: #00039e;
    --test2: #e2c418;
    --test3: #a80000;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.bg-verde{
    background-color: var(--verde);
    color: var(--blanco);
}
.bg-blanco{
    background-color: var(--blanco);
    color: var(--negro);
}
.titulo-fgsm{
    
    margin: 5rem auto auto;
}
.titulos{
    margin: 1.5rem;
    z-index: 500;
}
.img-perfil{
    height: 20rem;
    border-radius: 50%;
}
.nombre{
    width: 80%;
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5rem;
}
.puesto{
    width: 80%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}
.perfil-pro{
    width: 80%;
    text-align: justify;
    font-size: 1.5rem;
}
.seccion-f{
    font-family: 'Roboto Mono', monospace;
    min-height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px; /* ajusta el valor según prefieras */


}
.parallax {
    /* The image used */
    background-image: url("./../src/img/lap20.png");

  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.cards-box{
    /*
    background-color: #a8000044;
*/
height: 550px;
width: 80vw;
display: flex;
flex-direction: row;
overflow: auto;

    
justify-content: center;
align-items: center;



  }
.card-proyect{
    font-size: 0.5rem;
    color: var(--blanco);
    background-color: #064428c2;
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    border-radius: 5rem;
    margin: 0rem 1rem 3rem;
    height: 40rem;
    width: 28rem;

    display: flex;
    flex-wrap: wrap;
}
.name-proyect{ 
    width: 100%;
    padding: 2rem 1rem 1rem;
    font-size: 2rem;
}
.link-proyect{
    background-color: #ecede7c9;
    border-radius: 5rem;
    height: 3rem;
    width: 80%;
    margin: auto auto 2.5rem auto;
    font-size: 2rem;
    
}
.logo-proyect{
    width: 100%;
    padding: 2rem;
    border-radius: 5rem;
}


  
  .tecs-box{ 
    /*
    background-color: #a8000044; 
    */
    height: 40rem;
    width: 80vw;
    display: flex !important;
    flex-direction: row; 

  
    justify-content: center;
    align-items: center;

    overflow: auto;



}
.card-tecs{
    font-size: 0.5rem;
    background-color: var(--blanco);
    color: var(--negro);
    border-radius: 1rem;
    margin: .5rem;
    height: 250px;
    width: 250px; 
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}

.logo-tec{  
    height: 10rem; 
    margin: 1rem;
}
.logo-php{
    width: 10rem; 
    margin: 3rem auto 3rem;

}
.name-tec{
    width: 100%; 
}
