/*
Global recomendado
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
:root {
    --verde: #064428;
    --blanco: #ECEDE7;
    --negro: #000;
    --test1: #00039e;
    --test2: #e2c418;
    --test3: #a80000;
}
.bg-verde{
    background-color: var(--verde);
    color: var(--blanco);
}
.bg-blanco{
    background-color: var(--blanco);
    color: var(--negro);
}
.seccion{

}

