/* Estilos para el componente Body */
.body-container {
    background-image: url('../../assets/img/code.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    padding: 2rem 0; /* Espaciado vertical */
    /* Removido min-height: 100vh para que se ajuste al contenido */
}
