/* Hacer las líneas del navbar-toggler más gruesas */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28236, 237, 231, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='m4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Hacer el borde del navbar-toggler más grueso */
.navbar-toggler {
    border: 3px solid rgba(236, 237, 231, 0.8) !important;
    border-radius: 6px !important;
}



/* Texto del botón de idioma con mismo estilo que nav-links */
.language-text {
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    /* fs-5 */
    font-weight: bold;
}

/* Botones de idioma y modo oscuro con tamaño fijo */
.header-button {
    width: 60px;
    height: 32px;
    min-width: 60px;
    border-color: #fff !important;
    color: var(--blanco);
}

.header-button:hover {
    background-color: var(--blanco);
    color: var(--verde);
    border-color: #fff !important;
}


/* Estilos para los iconos del header */
.header-icon {
    filter: brightness(0) invert(1);
    /* Hace los SVG usar el color --blanco */
    transition: all 0.3s ease;
}

.header-icon-dark {
    filter: brightness(0) invert(0);
    transition: all 0.3s ease;
}